<!-- <nav ng-hide="hidden()"> -->
  <!-- <ul class="pagination"> -->
    <!-- <li class="previous" ng-disable="hasPrev"><a href="" ng-click="clickPrev()">Previous</a></li> -->
    <!-- <li ng-repeat="n in logPageCount() track by $index" ng-class="{active: activePageIndex() == $index}"><a href="" ng-click="clickPage($index)">{{$index + 1}}</a></li> -->
  <!-- <li class="next" ng-class="{disabled: hasNext}"><a href="" ng-click="clickNext()">Next</a></li> -->
<!-- <uib-pagination total-items="{{workOrders.meta.count}}"
      items-per-page="{{workOrders.meta.limit}}"
      ng-model="page"
      ng-change="goToPage()"
      max-size="maxSize"
      class="pagination-sm"
      boundary-links="true"
      rotate="false"
      num-pages=""
      ></uib-pagination>

<p>max:  {{maxSize}} {{workOrders.meta.limit}} {{workOrders.meta.count}}</p> -->
<!-- </nav> -->
