<div role="tabpanel">
  <div class="return-back visible-sm visible-xs">
    <a href="#"><span class="fa fa-arrow-left"></span> Return to Work Orders</a>
  </div>
  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{ 'active': activeTab==='summary'}"><a href="" aria-controls="summary" role="tab" ng-click="activeTab='summary'">SUMMARY</a></li>
    <li role="presentation" ng-class="{ 'active': activeTab==='work'}"><a href="" aria-controls="work" role="tab" ng-click="activeTab='work'">WORK</a></li>
    <li role="presentation" ng-class="{ 'active': activeTab==='notes'}">
      <a href="" aria-controls="notes" role="tab" ng-click="activeTab='notes'">
        NOTES <span data-ng-if="!workOrderNotesLoading">({{workOrderNotes.meta.count}})</span>
      </a>
    </li>
    <li role="presentation" ng-class="{ 'active': activeTab==='logs'}">
      <a href="" aria-controls="logs" role="tab" ng-click="activeTab='logs'">
        HISTORY
      </a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content clearfix">
    <div role="tabpanel" class="tab-pane fade in" ng-class="{'active': activeTab==='summary'}" id="summary">
      <!-- Assignments details -->
      <div class="well well-sm">
        <dl class="dl-horizontal">
          <dt>Assigned To</dt>
          <dd>
            <i class="fa fa-users fa-fw"></i> {{workOrder.getGroupPath()}}
          </dd>
          <dt></dt>
          <dd>
            <i class="fa fa-user fa-fw" ng-class="{ 'text-danger': workOrder.isUnassigned() }"></i> {{workOrder.getAssignedName()}}
          </dd>
        </dl>
      </div>

      <!-- Working buttons -->
      <div class="row row-workorder-actions">
        <div class="col-md-6 col-xs-6">
          <button class="btn btn-block btn-warning" ui-sref="workorders.assign({ workOrderId: currentWorkOrderId })">Assign</button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button class="btn btn-block btn-primary" ng-click="doWorkIt()">{{workitLabel()}}</button>
        </div>
      </div>

      <!-- Work Order Details -->
      <div class="well well-sm">
        <dl class="dl-horizontal">
          <dt>Work Order Name</dt>
          <dd>{{workOrder.workOrder}}</dd>

          <dt>Requested For</dt>
          <dd>{{workOrder.getRequestedFor()}}</dd>

          <dt>ID</dt>
          <dd>{{workOrder.getNiceId()}}</dd>

          <dt>Status</dt>
          <dd>{{workOrder.status}}</dd>

          <dt>Due</dt>
          <dd ng-class="{ 'text-danger': workOrder.isOverdue() }">{{workOrder.getNiceDueDate()}}</dd>

          <dt>Originator</dt>
          <dd><a href="{{workOrder.originator.url}}" class="originator">Originating Request</a></dd>
        </dl>
      </div>

      <div class="well well-sm">
        <h4>Latest Note</h4>
        <div data-ng-if="latestNote.length > 0">
          <p class="white-space">{{latestNote[0].entry}}</p>
          <span class="meta">By <strong>{{latestNote[0].loginId}}</strong>, <span am-time-ago="latestNote[0].created"></span></span>
        </div>
        <div data-ng-if="workOrderNotes.length === 0">
          Work Order has no notes.
        </div>
      </div>

      <div class="well well-sm">
        <h4>Details</h4>
        <p class="white-space">{{workOrder.details}}</p>
      </div>

      <div class="well well-sm">
        <h4>Related Work Orders</h4>
        <p ng-repeat="related in relatedWorkOrders">
          <a href="" ng-click="selectWorkOrder(related)">{{related.id}}</a>
        </p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" ng-class="{'active': activeTab==='work'}" id="work">
      <div class="no-data" ng-if="!isMine(workOrder)">
        <h3>Grab Work Order?</h3>
        <p>Do you want to assign this to yourself?</p>
        <button class="btn btn-block btn-primary" ng-click="doWorkIt()">Grab It!</button>
      </div>
      <div ng-if="isMine(workOrder)">
        <work-frame dest="{{workOrder.workOrderURL}}"></work-frame>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" ng-class="{'active': activeTab==='notes'}" id="notes">
      <div class="showAddNote clearfix" ng-if="showAddNote">
        <div class="form-group">
          <label for="tmpNote">New Note</label>
          <input id="tmpNote" type="text" class="form-control" placeholder="enter note..." ng-model="tmpNote.entry"/>
        </div>
        <!-- When attachments in the backend work we can turn this back on. -->
        <!--<button-->
          <!--class="btn btn-default btn-block"-->
          <!--ngf-select-->
          <!--ngf-drop-->
          <!--ngf-drag-over-class="btn-success"-->
          <!--ngf-change="setNoteAttachment($file)">-->
          <!--<span class="fa fa-fw fa-paperclip"></span> Drop files here or click to browse.-->
          <!--<p data-ng-if="tmpNote.attachment.name">Attachment: {{tmpNote.attachment.name}}</p>-->
        <!--</button>-->

        <button class="btn btn-link" ng-click="cancelNote()">Cancel</button>
        <button class="btn btn-danger" ng-click="addNote()">Save</button>

      </div>

      <div ng-if="!showAddNote">
        <div class="no-data">
          <div data-ng-if="workOrderNotes.length === 0">
            <h3>There are no notes attached to this work order</h3>
            <p>Click ‘+ New Note’ to create a new note</p>
          </div>

          <p>
            <button class="btn btn-primary btn-block" ng-click="startAddNote()"><i class="fa fa-plus"></i>New Note</button>
          </p>
        </div>
      </div>

      <div ng-repeat="note in workOrderNotes" class="well-log">
        <div class="panel panel-default workOrderNote">
          <div class="panel-body">
            <span class="white-space">{{note.entry}}</span>
            <p class="meta">By {{note.loginId}}, <span am-time-ago="note.created"></span></p>
          </div>
        </div>
      </div>

      <simple-paginated-resource datasource="workOrderNotes" do-next="doNoteNext" do-prev="doNotePrev" do-page="doNotePage"></simple-paginated-resource>
    </div>

    <div role="tabpanel" class="tab-pane fade in" ng-class="{'active': activeTab==='logs'}" id="logs">
      <div class="no-data" data-ng-if="workOrderLogs.length === 0">
        <h3>There are no logs attached to this work order</h3>
      </div>
      <div ng-repeat="log in workOrderLogs" class="well-log">
        <div class="panel panel-default workOrderNote">
          <div class="panel-body">
            <span class="white-space">({{log.type}}) {{log.entry}}</span>
            <p class="meta">By {{log.loginId}}, <span am-time-ago="log.created"></span></p>
          </div>
        </div>
      </div>
      <simple-paginated-resource datasource="workOrderLogs" do-next="doLogNext" do-prev="doLogPrev" do-page="doLogPage"></simple-paginated-resource>
    </div>
  </div>
</div>
