<div role="tabpanel">
  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="" aria-controls="summary" role="tab" data-toggle="tab" data-target="#summary">SUMMARY</a></li>
    <li role="presentation"><a href="" aria-controls="work" role="tab" data-toggle="tab" data-target="#work" work-tab>WORK</a></li>
    <li role="presentation">
      <a href="" aria-controls="notes" role="tab" data-toggle="tab" data-target="#notes">
        NOTES
      </a>
    </li>
    <li role="presentation">
      <a href="" aria-controls="logs" role="tab" data-toggle="tab" data-target="#logs">
        LOGS
      </a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content clearfix">
    <div role="tabpanel" class="tab-pane fade in active" id="summary">
      <!-- Assignments details -->
      <div class="well well-sm">
        <dl class="dl-horizontal">
          <dt>Assigned To</dt>
          <dd>
            <i class="fa fa-users fa-fw"></i> {{workOrder.getGroupPath()}}
          </dd>
          <dt></dt>
          <dd>
            <i class="fa fa-user fa-fw" ng-class="{ 'text-danger': workOrder.isUnassigned() }"></i> {{workOrder.getAssignedName()}}
          </dd>
        </dl>
      </div>

      <!-- Working buttons -->
      <div class="row row-workorder-actions">
        <div class="col-md-6 col-xs-6">
          <button class="btn btn-block btn-warning" ui-sref="workorders.assign({ workOrderId: currentWorkOrderId })">Assign</button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button class="btn btn-block btn-primary" ng-click="doWorkIt()">{{workitLabel()}}</button>
        </div>
      </div>

      <!-- Work Order Details -->
      <div class="well well-sm">
        <dl class="dl-horizontal">
          <dt>Work Order Name</dt>
          <dd>{{workOrder.workOrder}}</dd>

          <dt>Requested For</dt>
          <dd>{{workOrder.getRequestedFor()}}</dd>

          <dt>ID</dt>
          <dd>{{workOrder.getNiceId()}}</dd>

          <dt>Status</dt>
          <dd>{{workOrder.status}}</dd>

          <dt>Due</dt>
          <dd ng-class="{ 'text-danger': workOrder.isOverdue() }">{{workOrder.getNiceDueDate()}}</dd>
        </dl>
      </div>

      <div class="well well-sm">
        <h4>Details</h4>
        <p class="white-space">{{workOrder.details}}</p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="work">
      <div class="no-data" ng-if="!isMine(workOrder)">
        <h3>Grab Work Order?</h3>
        <p>Do you want to assign this to yourself?</p>
        <button class="btn btn-block btn-primary" ng-click="doWorkIt()">Grab It!</button>
      </div>
      <div ng-if="isMine(workOrder)">
        <work-frame dest="{{workOrder.workOrderURL}}"></work-frame>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="notes">
      <div ng-show="workOrderNotesLoading">
        <p class="text-center"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
      </div>
      <div ng-hide="workOrderNotesLoading">

        <div class="showAddNote clearfix" ng-show="showAddNote">
          <div class="form-group">
            <label for="tmpNote">New Note</label>
            <input type="text" class="form-control" placeholder="enter note..." ng-model="tmpNote"/>
          </div>
          <button class="btn btn-link" ng-click="cancelNote()">Cancel</button>
          <button class="btn btn-danger" ng-click="addNote()">Save</button>
        </div>

        <div ng-hide="showAddNote">
          <div class="no-data">
            <h3>There are no notes attached to this work order</h3>
            <p>Click ‘+ New Note’ to create a new note</p>
            <p>
              <button class="btn btn-primary btn-block" ng-click="startAddNote()"><i class="fa fa-plus"></i>New Note</button>
            </p>
          </div>
        </div>

        <div ng-repeat="note in workOrderNotes" class="well-log">
          <p>{{note.information}}</p>
          <p>Submitted By: {{note.submittedBy}}</p>
        </div>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="logs">
      <div ng-show="workOrderLogsLoading">
        <p class="text-center"><i class="fa fa-spinner fa-spin fa-5x"></i></p>
      </div>
      <div ng-hide="workOrderLogsLoading">
          <div class="no-data">
            <h3>There are no logs attached to this work order</h3>
          </div>
        <div ng-repeat="log in workOrderLogs" class="well-log">
          <p>{{log.id}} {{log.entry}}</p>
          <p>Submitted By: {{log.assigneeId}}</p>
        </div>
        <simple-paginated-resource api="workOrderLogsApi" datasource="workOrderLogs"></simple-paginated-resource>
      </div>
    </div>
  </div>
</div>
