<div class="row">
  <div class="sidebar col-md-4 col-xs-12" ng-class="{'hidden-xs': isChildState(), 'hidden-sm': isChildState() }">
    <span class="sidebar-title">
      <h3 class="text-center">
        <button class="btn btn-default pull-left" ng-click="reload()"><i class="fa fa-refresh"></i></button>
        {{currentFilter.name | characters:16 }}

        <!-- Filter Current Work Orders -->
        <div class="btn-group  pull-right text-left">
          <div class="dropdown btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-filter"></i>
          </button>
          <ul class="dropdown-menu pull-right workOrderListSort" role="menu" aria-labelledby="workOrderListSort">
            <form ng-submit="updateFilters()">
              <li role="presentation" class="form-group">
                <label for="workOrder">Work Order ID</label>
                <input class="form-control"type="text" title="workOrderId" placeholder="Search Work Order ID" ng-model="fb.id">
              </li>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="form-group">
                <label for="workOrderStaus">Status</label>
                <select name="workOrderStatus" class="form-control" ng-model="fb.status">
                  <option value="">Any</option>
                  <option value="New">New</option>
                  <option value="Sent">Sent</option>
                  <option value="Completed">Completed</option>
                  <option value="Expired">Expired</option>
                  <option value="Delete">Delete</option>
                  <option value="In progress">In Progress</option>
                  <option value="Opt Out">Opt Out</option>
                </select>
              </li>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="form-group">
                <label for="workOrderName">Name</label>
                <input class="form-control" type="text" title="workOrderName" placeholder="Search Work Order Name" ng-model="fb.workOrderName">
              </li>
              <li>
                <input class="btn btn-primary" type="submit" value="Filter">
              </li>
            </form>
          </ul>
        </div>

        <!-- Sort Work Orders -->
        <div class="dropdown btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa" ng-class="{ 'fa-sort-amount-asc': (sort.dir), 'fa-sort-amount-desc': (!sort.dir) }"></i>
          </button>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="workOrderListSort">
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeSortOrder(true)">Ascending <i ng-if="sort.dir" class="fa fa-check"></i></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeSortOrder(false)">Descending <i ng-if="!sort.dir" class="fa fa-check"></i></a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" ng-repeat="sortOption in sortOptions"><a role="menuitem" tabindex="-1" ng-click="changeSortItem(sortOption.field)">{{sortOption.name}} <i ng-if="sort.by === sortOption.field" class="fa fa-check"></i></a></li>
          </ul>
        </div>
        </div>


      </h3>
    </span>
    <div class="row" ng-if="workOrders.length===0">
      <div class="col-md-12">
        <div class="no-data text-center">
          <h3>This list has no work orders.</h3>
          <p>Grab a work order and it will be shown here.</p>
        </div>
      </div>
    </div>
    <div class="row row-workorder-list" ng-repeat="workOrder in workOrders" ng-click="selectWorkOrder(workOrder)" ng-class="{ 'active-workorder': isActiveWorkOrder(workOrder) }">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-xs-6">{{workOrder.getNiceId()}}</div>
        </div>

        <div class="row">
          <div class="col-md-12"><p><strong>{{workOrder.workOrder}}</strong></p></div>
        </div>

        <div class="row">
          <div class="col-md-12">requested for {{workOrder.getRequestedFor()}}</p></div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-6"><i class="fa fa-group fa-fw"></i> {{workOrder.getGroupName()}}</div>
          <div class="col-md-6 col-xs-6"><i class="fa fa-bookmark fa-fw"></i> {{workOrder.status}}</div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-6">
            <i class="fa fa-user fa-fw" ng-class="{ 'text-danger': workOrder.isUnassigned() }"></i> {{workOrder.getAssignedName()}}
          </div>
          <div class="col-md-6 col-xs-6" ng-class="{ 'text-danger': workOrder.isOverdue() }"><i class="fa fa-calendar fa-fw" ></i> {{workOrder.getNiceDueDate()}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <simple-paginated-resource datasource="workOrders" do-next="doNext" do-prev="doPrev" do-page="doPage"></simple-paginated-resource>
      </div>
    </div>

  </div>

  <div class="col-md-8 col-xs-12 main-content">
    <div ui-view>
      <div class="no-data text-center">
        <h3>No Work Order to display</h3>
        <p>Please select a work order to view its details</p>
      </div>
    </div>
  </div>
</div>
